*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Signika Negative;
    text-decoration: none;
    list-style: none;
}
body{
    background: radial-gradient(circle at right,white,rgb(250, 133, 37));
    
}
.NAVBAR{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}
.NAVBAR img{
    position: absolute;
    left: 50px;
    top: 20px;
}


.SEARCH{
    width:350px;
    display: flex;
    align-items: center;
    border-radius: 35px;
    padding: 5px;
    border: solid brown 1px;
    position: absolute;
    left: 200px;
    top: 33px;
   
}
.INPUTB{
    font-size:20px;
    font-weight: 100;
    color:brown;
    border: none;
    margin-left: 4px;
    background: transparent;
}
::placeholder{
    color: brown;
}
ul{
    position: absolute;
    left: 600px;
    top: 40px;
}
li{
    display: inline-block;
    margin-right: 40px;
    font-weight: 650;
    font-size: 20px;
}
li a{
    color: brown;
}
.pattern{
    position: absolute;
    right: 100px;
    bottom: 100px;
    opacity: 70%;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.lamp{
    position: absolute;
    right: 115px;
    bottom: -100px;
}
.WISHES h1{
   position: absolute;
   bottom: 300PX;
   left: 50PX;
   font-weight: 1200;
   font-size: 30px;
  color: rgb(99, 46, 2); 
  font-family: Noto Sans Tamil;
  
}
.WISHES h2{
    font-family: Noto Sans Tamil;
    position: absolute;
    bottom: 350px;
    left: 50px;
    font-size: 30px;
    font-weight: 1200;
    color:rgb(99, 46, 2) ;

}
.WISHES p{
    width: 500px;
    position: absolute;
    bottom: 180px;
    left: 50px;
}
.CONTENT{
    width: 550px;
    position: absolute;
    left: 50px;
    top: 200PX;
}
form{
    position: absolute;
    left: 200px;
    bottom: 50px;
    padding: 30px;
    width: 300px;
    border: solid 2px brown;
    border-radius: 30PX;
}
form h1{
    position: relative;
    top: -15px;
    left: -10px;    
    
}
::placeholder{
    color: brown;
}
.iputs{
    margin-left: -10PX;
}
.iputs input{
     background: transparent;
     margin-bottom: 15px;
     width: 250px;
     height: 30px;
     border-radius: 50px;
     padding-left: 10px;
     border-color: brown;
     
}
.message input{
    background: transparent;
     margin-bottom: 15px;
     width: 250px;
     height: 150px;
     border-radius: 10px;
     padding-left: 10px;
     border-color: brown;
     margin-left: -10px;
     
}
.btton button{
    width: 60px;
    height: 30PX;
    background: transparent;
    border-radius: 15px;
    
   
}

.pattern img {
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }